@import "../../components/pallet.scss";

.formInscription{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   


    .formContainer{
        width: 40%;
        height: 80%;
        border-radius: 12px;
        box-shadow: 2px 2px 9px rgba(136, 135, 135, 0.26);

        .Logo{
            color: $couleur1;
        }
        .formTitre{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            text-align: center;
            gap: 4px;
            font-weight: bold;
            padding-bottom: 1%;

            span{
                width: 50px;
                height: 10px;
                background: #000;
            }
        }
        .topBtn{
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            padding-top: 1%;
            gap: 10px;

            .btnGoogle{
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                border: 1px solid $couleur3;
                border-radius: 12px;
                padding: 2%;
                cursor: pointer;
                transition: ease all 1s;

                &:hover{
                    background: $couleur1;
                    color: $couleur2;
                }

                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        form{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        
            .inputBloc{
                display: flex;
                width: 80%;
                flex-direction: column;
                gap: 10px;
                text-align: left;
                padding-top: 2%;

                .itemPassword{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                }
               
                input{
                    border-radius: 12px;
                    height: 30px;
                    border: 1px solid $couleur3;
                    width: 100%;
                    outline:none;
                    padding-left: 2%;
                    padding-right: 2%;
                    &::placeholder{
                        color: $couleur3;
                    }
                    &:focus{
                        border: 1px solid $couleur1;
                    }

                }
            }
            .btnBottom{
                display: flex;
                flex-direction: column;
                gap: 2px;
            }

            .btnInscription{
                margin-top: 3%;
                // padding: 2%;
                padding: 4% 6% 4% 6%;
                border-radius: 12px;
                border: none;
                color: $couleur2;
                background: $couleur1;
                font-weight: bold;
                cursor: pointer;
                transition: ease-in-out all 1s;
                &:hover{
                    background: #720303;
                }
            }
            .link{
                color: $couleur1;
            }
        }
    }
}